* {
  margin: 0;
  padding: 0;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

@font-face {
  font-family: 'NeutraText';
  src: url('fonts/neutra-text.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Berlin';
  src: url('fonts/berlin.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

h1 {
  font-family: 'Berlin', sans-serif;
  font-size: 55px;
  font-weight: bold;
  text-transform: uppercase;
  color: #330006;
}

h2, button {
  font-family: 'NeutraText', sans-serif;
  font-size: 52px;
  font-weight: normal;
  text-transform: uppercase;
  color: #330006;
}

h3, p {
  font-family: 'NeutraText', sans-serif;
  font-size: 48px;
  font-weight: normal;
  text-transform: uppercase;
  color: #330006;
}

button {
  font-family: NeutraText, sans-serif;
  font-size: 55px;
  font-weight: bold;
  text-transform: uppercase;
  color: #330006;
}